h1 {
  height: 17vh;
  font-size: 500%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-bottom: 3vh;
}

main {
  column-gap: 20px;
  /* column-count: 2; */
  height: 80vh;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;  
}

.container {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-content: center;
  align-items: center;
}

.card {
  height: 70vh;
  width: 45vw;
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.advertisement {
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: black; 
  margin-top: 3vh;
}
